<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Cocktails#new</h1>
      <%= render 'form', cocktail: @cocktail %>
      <%= link_to 'Back', cocktails_path %>
    </div>
  </div>
</div>

